.firlter-box {
  padding: 20px;
  border-bottom: 1px solid #eeeeee;
  > div {
    label {
      margin-right: 10px;
      font-size: 14px;
      color: #666666;
    }
  }
}
.table-box {
  position: relative;
  height: 100%;
  background: #ffffff;
  border-radius: 10px;
  .filter-box {
    padding: 20px 20px 0;
    border-bottom: 1px solid #eeeeee;
  }
  .btn-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    padding: 0 20px;
    > span {
      font-size: 16px;
    }
  }
  .table-list {
    height: calc(100% - 80px);
    overflow: auto;
    .date-sort {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .super_admin {
      padding: 3px 8px;
      color: #ffffff;
      background: #0ec69a;
      border-radius: 5px;
    }
  }
  .demo-pagination-block {
    position: absolute;
    right: 12px;
    bottom: 20px;
  }
}
.img-box {
  margin: 0 auto;
  > img {
    width: 400px;
  }
}
.el-row:last-child {
  margin-bottom: 0;
}
.el-col-4,
.el-col-20 {
  word-wrap: break-word;
  > img {
    width: 100%;
  }
}
