.table-box {
  position: relative;
  height: 100%;
  background: #ffffff;
  border-radius: 10px;
  .filter-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0;
    background: #ffffff;
    border-bottom: 1px solid #eeeeee;
    border-radius: 10px;
    > label {
      margin: 0 10px 0 20px;
      font-size: 14px;
      color: #4a5975;
    }
  }
  .btn-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    padding: 0 20px;
    > span {
      font-size: 16px;
    }
  }
  .table-list {
    height: calc(100% - 80px);
    overflow: auto;
    .date-sort {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .super_admin {
      font-size: 16px;
      font-weight: bold;
      color: #0ec69a;
    }
  }
  .tree-table-list {
    .oneLevel {
      display: flex;
      align-items: center;
      height: 30px;
      padding-left: 0;
    }
    .twoLevel {
      display: flex;
      align-items: center;
      height: 30px;
      padding-left: 20px;
      font-size: 14px;
      line-height: 30px;
      text-align: left;
    }
    .threeLevel {
      display: flex;
      align-items: center;
      height: 30px;
      padding-left: 40px;
      font-size: 14px;
      color: #666666;
      text-align: left;
      > div {
        display: flex;
        align-items: center;
        > span {
          display: inline-block;
          margin: 0 20px 0 0;
        }
        :deep(.el-checkbox) {
          margin: 0;
        }
      }
    }
  }
  .demo-pagination-block {
    position: absolute;
    right: 12px;
    bottom: 10px;
  }
}
.img-box {
  margin: 0 auto;
  > img {
    width: 400px;
  }
}
